@model Planner.Models.Shift

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Assign</h1>

<h4>Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Users" />

            <div class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Details)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Details)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt class="col-sm-2">
                    Tijd
                </dt>
                <dd class="col-sm-10">
                    @Model.StartTime.ToString(@"hh\:mm") - @Model.EndTime.ToString(@"hh\:mm")
                </dd>
            </div>

            <div>
                @foreach (var availability in ViewBag.availabilities)
                {
                    <div>
                        <span>@availability.Username (@availability.StartTime.ToString(@"hh\:mm") - @availability.EndTime.ToString(@"hh\:mm"))</span>

                        <a href="#" onclick="add(@availability.Id)">Assign</a>
                    </div>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
function add(id) {
    var input = document.getElementsByName("Users")[0];

    if (input.value.length > 0) {
        var usersArr = input.value.split(",");
    } else {
        var usersArr = [];
    }

    const index = usersArr.indexOf(id.toString());
    if (index > -1) return;
    
    usersArr.push(id);
    var users = usersArr.toString();
    input.value = users;
}

function del(id) {
    var input = document.getElementsByName("Users")[0];

    if (input.value.length > 0) {
        var usersArr = input.value.split(",");
    } else {
        var usersArr = [];
    }


    const index = usersArr.indexOf(id.toString());
    if (index > -1) {
        usersArr.splice(index, 1);
    }
    console.log(usersArr)
    console.log(index);

    var users = usersArr.toString();
    input.value = users;
}
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
